<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HRMoney | Cadastro</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="assets/css/style2.css" rel="stylesheet">
	<link href="assets/css/swiper.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
	<script>
		$(document).ready(function() {
	 
		 $('#btnCadastrar').click(function(){
	 
				 var dataString = $('#FormCadastro').serialize();
				console.log('To aqui')
				 $.ajax({
					 type:"post",
					 url:"registroite",
					 data: dataString,
					 success: function(data){
	 
						 $("#result").text(data);
						 /*****nesse if o valor deve ser exatamente igual ao 
						 ao echo da pagina processamento.php ao ser realizado o cadastro com sucesso
						 ******/
						 if(data=="Cadastro realizado com sucesso!!"){
							 $("#atuar").html('<br><a href="https://google.com"><button class="btn"><i class="fa fa-download"></i> Download</button></a>');
						 }
	 
						 $("#myModal").modal('show');
					 }
				 });
				 event.preventDefault();
		 });
		});
	 
	 </script>
</head>

<body>
	<div class="topPanel">
		<div class="container flex-s-c">
			<div class="menuBlock flex-c">
				<div class="menuButton" data-class="nav">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="menuBlock-logo">
					<a href="http://hrmoney.com.br/"><img src="assets/img/logo/logo.png" alt="Logo"></a>
				</div>
				<nav class="nav">
					<ul class="menu flex">
						<li>
							<a href="#">
								Home <span>Main page</span>
							</a>
						</li>
						<li>
							<a href="http://hrmoney.com.br/">
								Início <span>Voltar a página inicial.</span>
							</a>
						</li>
						<li>
							<a href="http://hrmoney.com.br/packages">
								Adquirir <span>Compre nosso Robô agora mesmo.</span>
							</a>
						</li>
						<li>
							<a href="http://hrmoney.com.br/download">
								Download <span>Baixe nosso Robô.</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div><!--container-->
	</div><!--topPanel-->
	<header>
	</header><!--header-->
	<div class="container">
			</div>
		</div><!--content-->
	</div><!--container-->
	<div class="regBlock">
		<div class="container">
			<h1>CADASTRE-SE</h1>
			<form class="registration" id="FormCadastro" method="POST" action="registro">
				<div class="formGroup">
					<span class="formGroup-name">E-mail</span>
					<input type="text" name="email" id="email">
				</div>
				<div class="formGroup formGroup-2">
					<div>
						<span class="formGroup-name">Senha</span>
						<input type="password" name="pass" id="senha">
					</div>
					<div>
						<span class="formGroup-name">Confirmar senha</span>
						<input type="password" name="passre" id="csenha">
					</div>
				</div>
				</p><%- Cadastro %>
				<div class="regButton flex-c">
					<button type="submit" id="btnCadastrar">Registrar</button>
					</div>
				</div>
			</form>
			<div class="paralax paralax-hero">
				<div class="hero-pal"></div>
			</div>
		</div><!--container-->
	</div><!--regBlock-->
	<div id="overlay"></div>
	<script src="assets/js/jquery-2.1.4.min.js"></script>
	<script src="assets/js/swiper.min.js"></script>
	<script src="assets/js/parallax.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>